<%- include ("./header") %>

<style>
  .center-element {
    color: red;
  }
</style>

<title>
  Download songs for free!
</title>

<div class="container" id="main-container">
  <div class="input-group mb-3" style="padding-top:4%;">
    <input type="text" class="form-control" placeholder="Name of the song" aria-label="Name of the song" aria-describedby="basic-addon2">
  </div>

  <% if (locals.data?.length !== 0) { %>
    <%= "hi" %>
  <% } %>

</div>
